*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.tracker {
  position: relative;
  height: 100vh; }
  .tracker__frame {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/kettlebell-2.png);
    height: 50rem;
    width: 50rem; }
    .tracker__frame__clock {
      position: absolute;
      opacity: 0;
      background-color: cyan;
      border-radius: 50%;
      height: 26rem;
      width: 26rem;
      transform: translate(44%, 72%); }
    .tracker__frame__clock:hover {
      transition: all .2s;
      opacity: .5; }
    .tracker__frame__clock__timer {
      position: absolute;
      top: 41%;
      left: 30%;
      color: rebeccapurple;
      font-size: 20rem;
      opacity: 1;
      z-index: -1; }
    .tracker__frame__clock:active {
      background-color: blue; }
  .tracker__card {
    position: absolute;
    left: 42%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.75);
    height: 22rem;
    width: 17rem;
    background-color: #0c709e; }
    .tracker__card__exercise-details {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      .tracker__card__exercise-details .input-field {
        color: white;
        padding: .5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase; }
      .tracker__card__exercise-details .submit-exercise {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        width: 14rem; }

.card-stack {
  position: relative;
  top: 20%;
  width: 10rem;
  height: 10rem;
  left: 5rem;
  z-index: 2; }
  .card-stack .cards {
    list-style-type: none;
    display: flex;
    flex-direction: column; }
    .card-stack .cards .card {
      position: relative;
      padding: 1rem;
      background-color: #075c5c;
      border-radius: 3px;
      margin-left: -2rem;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.75);
      transition: all .2s;
      height: 22rem;
      width: 17rem; }
      .card-stack .cards .card .card-details {
        position: absolute;
        transform: translate(0, -50%);
        top: 35%;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem; }
    .card-stack .cards .card:not(:first-child) {
      margin-top: -17rem; }
    .card-stack .cards .card {
      transition: transform .5s; }
    .card-stack .cards .card:hover {
      transform: translateX(3rem); }
    .card-stack .cards .card:hover ~ .card {
      transform: translateY(12rem); }

* li {
  max-width: 100%;
  height: auto; }

.sections {
  display: flex; }

.side-bar-xp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: green;
  margin-right: 2%; }

.main-card {
  display: grid;
  grid-template: repeat(3, 1fr)/10% 1fr 1fr 10%;
  position: relative;
  width: 60%;
  background-color: pink; }

.workout-vid {
  grid-area: 2 / 2;
  width: 100%; }

.side-bar-log {
  width: 20%;
  background-color: purple;
  margin-left: 2%; }

.best-cards {
  list-style-type: none;
  grid-area: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .best-cards li {
    margin-left: 25px;
    height: 30%;
    background-color: cyan; }

.search-and-add-options {
  background-color: gray;
  grid-area: 3 / 2 / span 1 / span 2;
  display: grid;
  grid-template: 40% 1fr 30% / 1fr 12.5% 12.5%; }
  .search-and-add-options input {
    grid-row-start: 2;
    top: 50%;
    height: 50%;
    width: 90%;
    margin: 0 20px; }
  .search-and-add-options a.exercise-list {
    background-color: red;
    height: 50%;
    width: 50%;
    text-decoration: none;
    grid-row-start: 2; }
  .search-and-add-options a.add-exercise {
    text-decoration: none;
    grid-row-start: 2;
    height: 50%;
    width: 50%;
    background-color: red; }

.column {
  float: left;
  padding: 10px;
  height: 100vh; }

.progress {
  line-height: 0;
  color: transparent;
  background-color: yellow;
  width: 45%;
  max-width: 150px;
  min-width: 75px;
  height: 80%; }

.progress::before {
  content: "";
  background-color: red;
  height: 75%; }
