*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.tracker {
  position: relative;
  height: 100vh; }
  .tracker__frame {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/kettlebell-2.png);
    height: 50rem;
    width: 50rem; }
    .tracker__frame__clock {
      opacity: 0;
      background-color: cyan;
      border-radius: 50%;
      height: 26rem;
      width: 26rem;
      left: 50%;
      top: 50%;
      transform: translate(44%, 72%); }
    .tracker__frame__clock:hover {
      transition: all .2s;
      opacity: .5; }
    .tracker__frame__clock__timer {
      position: absolute;
      top: 41%;
      left: 30%;
      color: rebeccapurple;
      font-size: 20rem;
      opacity: 1;
      z-index: -1; }
    .tracker__frame__clock:active {
      background-color: blue; }
  .tracker__card {
    position: relative;
    top: 8%;
    left: 42%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    height: 22rem;
    width: 17rem;
    background-color: #0c709e; }
    .tracker__card__exercise-details {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      .tracker__card__exercise-details .input-field {
        color: white;
        padding: .5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase; }
      .tracker__card__exercise-details .submit-exercise {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        width: 14rem; }
