@import "variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines what 1 rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.tracker {
    position: relative;
    height: 100vh;
    // height: 80vh;

    &__frame {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/kettlebell-2.png);
        height: 50rem;
        width: 50rem;
        

        &__clock {
            position: absolute;
            opacity: 0;
            background-color: cyan;
            border-radius: 50%;
            height: 26rem;
            width: 26rem;
            // left: 50%;
            // top: 50%;
            transform: translate(44%, 72%);
        }

        &__clock:hover {
            transition: all .2s;
            opacity: .5;
        }

        &__clock__timer {
            position: absolute;
            top: 41%;
            left: 30%;
            color: rebeccapurple;
            font-size: 20rem;
            opacity: 1;
            z-index: -1;
        }

        &__clock:active {
            background-color: blue;
        }
    }
    
    &__card {
        position: absolute;
        
        left: 42%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.75);
        height: 22rem;
        width: 17rem;
        background-color: $card-color;

        &__exercise-details {
            z-index: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .input-field {
                color: white;
                padding: .5rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            .submit-exercise {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                width: 14rem
            }
        }
    }
}

.card-stack {
    position: relative;
    top: 20%;
    width: 10rem;
    height: 10rem;
    left: 5rem;
    z-index: 2;

    .cards {
        list-style-type: none;
        display: flex;
        flex-direction: column;
       
        
        .card {
            position: relative;
            padding: 1rem;
            background-color: rgb(7, 92, 92);
            border-radius: 3px;
            margin-left: -2rem;
            box-shadow: 0 1.5rem 4rem rgba(black, 0.75);
            transition: all .2s;
            height: 22rem;
            width: 17rem;

            .card-details {
                position: absolute;
                transform: translate(0, -50%);
                top: 35%;
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.5rem;
            }
        }

        .card:not(:first-child) {
            margin-top: -17rem;
        }

        .card {
            transition: transform .5s;

        }

        .card:hover {
            transform: translateX(3rem);
        }

        .card:hover {
            ~ .card {
                transform: translateY(12rem);
            }
        }
    }

   
}

.best-quilt {
    position: relative;
    .hits {
        list-style-type: none;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        align-items: center;

        height: 100%;
        width: 100%;
        background-color: #ecf4f3;
        padding-bottom: 10rem;
        
        &__card {
            
            position: relative;
            margin: .5rem;
            background-color: #68b0ab;
            width: 25rem;
            height: 25rem;
            border-radius: 3px;
            box-shadow: 0 1px 3px #006a71;
            display: flex;
            justify-content: center;

            &__content {
                position: fixed;
                width: 22rem;
            }
        }

        &__card:after {
            transition: all .2s ease-in-out;
            position: absolute;
            content: '';
            width: 25rem;
            height: 2rem;
            z-index: 1;
            bottom: 0;
            background-color: black;
            opacity: .2;
        }
        
        &__card:hover:after {
            padding: 15px;
            content: '450 LB Squat';
            color: white;
            font-size: 20px;
            font-weight: bolder;
            font-family: 'PT Sans Narrow';
            height: 8rem;
            bottom: 0;
            opacity: .7;
        }
    }

    .bar {
        position: fixed;
        height: 10rem;
        width: 100%;
        background-color: ff7e67;
        box-shadow: 0 1px 3px black;
        bottom: 20px;
    }
    
}

.float-add {    
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: 006a71;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px black;
    font-size: 3rem;
    color: #ecf4f3;
    text-decoration: none;
    padding-top: 1rem;
}

